/* .auto-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.auto-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    border-radius: 0.7em;
}

.slider-auto {
    width: 60%;
    /* width: fit-content; */
    height: 500px;
    height: 18em;
    /* border: 2px solid black; */
    overflow: hidden;
    position: relative;
    border-radius: 0.7em;
}

.slides-auto {
    width: fit-content;
    height: 500px;
    display: flex;
    border-radius: 0.7em;
}

.slides-auto input {
    display: none;
}

.slide-auto {
    min-width: 20%;
    transition: 2s;
    position: relative;
    display: inline;
}

/* .slide-auto img {
    width: 800px;
    height: 500px;
} */

.navigation-manual {
    position: absolute;
    width: 100%;
    /* width: 800px; */
    /* margin-top: -40px; */
    bottom: 0.3em;

    display: flex;
    justify-content: center;
    margin: auto;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 1em;
}

.manual-btn:hover {
    background-color: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -60%;
}
/* #radio3:checked ~ .first {
    margin-left: 0;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
#radio5:checked ~ .first {
    margin-left: -60%;
}
#radio6:checked ~ .first {
    margin-left: -60%;
} */

.navigation-auto {
    position: absolute;
    display: flex;
    /* width: 800px; */
    width: 100%;
    justify-content: center;
    bottom: 0.3em;
    margin: auto;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 1em;
    /* z-index: 1; */
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: black;
}
/* #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: black;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: black;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: black;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
    background-color: black;
} */
