.autoplay {
    display: flex;
    justify-content: center;
}

.outer-autoplay {
    margin: auto;
    width: 100%;
}

.outer-autoplay-mobile {
    margin: auto;
    width: 100%;
    /* display: none; */
}

@media screen and (min-width<=768px) {
    .outer-autoplay {
        display: none;
    }
    .outer-autoplay-mobile {
        display: block;
    }
}
